registry=http://nuget.oss-concept.ch/npm/npm-v1/
//nuget.oss-concept.ch/npm/npm-v1/:_password="MHB0M24hJU8="
//nuget.oss-concept.ch/npm/npm-v1/:username=admin
//nuget.oss-concept.ch/npm/npm-v1/:email=support@opten.ch
//nuget.oss-concept.ch/npm/npm-v1/:always-auth=false
